<div class="otp-inputs-wrapper">
  <input type="text" class="otp-box" maxlength="1" pattern="[0-9]" inputmode="numeric" autofocus autocomplete="one-time-code" required>
  <input type="text" class="otp-box" maxlength="1" pattern="[0-9]" inputmode="numeric" required>
  <input type="text" class="otp-box" maxlength="1" pattern="[0-9]" inputmode="numeric" required>
  <input type="text" class="otp-box" maxlength="1" pattern="[0-9]" inputmode="numeric" required>
  <input type="text" class="otp-box" maxlength="1" pattern="[0-9]" inputmode="numeric" required>
  <input type="text" class="otp-box" maxlength="1" pattern="[0-9]" inputmode="numeric" required>
</div>
